<h1>Add New Cat</h1>

<form action="/cats" method="post">

Name<br>
<input type="text" name="name"><br>
Appearance<br>
<input type="text" name="appearance"><br>
Personality<br>
<input type="text" name="personality"><br>
Image URL<br>
<input type="text" name="imageURL"><br>

<input type="submit">
</form>